/* google font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/* shared styles */
*{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    /* border: 2px solid white; */
    width: 1280px;
    color: white;
    margin: 0 auto;
    padding: 2rem;
}
a{
    text-decoration: none;
}
span{
    color: crimson;
}




/* header */

nav .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_logo{
    color: crimson;
    font-weight:800;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}
.nav_logo:hover{
    color: white;
    text-shadow: 0 0 25px yellow;
}

.nav_links a{
    /* border: 2px solid yellow; */
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in-out;
}
.nav_links a:hover{
    color: crimson;
    border-top: 1px solid white;
    border-bottom: 1px solid white;   
}

.subscribe_btn{
    border: 1px solid crimson;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    background-color: crimson;
    padding: 15px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.subscribe_btn:hover{
    color: black;
    background-color: white;
    box-shadow: 0 0 25px red;
}





/* hero */

#hero .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero_content h3{
    font-size: 2rem;
}
.hero_content h1{
    font-size: 4rem;
}
.name_txt{
    color: white;
    transition: 0.4s ease-in-out;
}
.name_txt:hover{
    text-shadow: 0 0 25px blueviolet;
}
.input_container{
    /* border: 2px solid green; */
    display: flex;
    justify-content: start;
    gap: 1rem;
}

input{
    border: 1px solid white;
    font-size: 1.25rem;
    border-radius: 10px;
    padding: 0.5rem;
    color: crimson;
    background-color: black;
}
input:hover{
    box-shadow: 0 0 25px crimson;
}

.start_btn{
    border: 1px solid black;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    background-color: crimson;
    padding: 5px;
    /* border-radius: 25px; */
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.start_btn:hover{
    background-color: black;
    color: crimson;
    box-shadow: 0 0 25px blue;
}





/* about */

#about .container{
    display: flex;
    align-items: center;
    gap: 8rem;
    height: 100vh;
}

.img{
    box-shadow: 0 0 25px deeppink;
}

.about_content h1{
     font-size: 4rem;
}
.about_content h2{
    font-size: 2rem;
}
.about_content p{
    font-size: 1.5rem;
}
.talk_btn{
    border: 1px solid black;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    background-color: crimson;
    padding: 5px;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.talk_btn:hover{
    background-color: black;
    color: crimson;
    box-shadow: 0 0 25px blue;
}





/* service section */

#service .container{
    height: 100vh;
}
.service_tittle h2{
    /* border: 2px solid red; */
      text-align: center;
      font-size: 3rem;
      transition: 0.3s ease-in-out;
}
.service_tittle h2:hover{
    color: crimson;
}
.service_tittle p{
    text-align: center;
    font-size: 1.25rem;
}
.card_container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1.5rem;
    margin: 4rem;
}
.card{
    border: 2px solid gray;
    padding: 1rem;
    text-align: left;
    height: auto;
    width: auto;
    box-shadow: 0 0 25px crimson;
    transition: 0.3s ease-in-out;
}
.card:hover{
    box-shadow: 0 0 25px blue;
}
.card i{
    font-size: 1.5rem;
    color: crimson;
}
.card h3{
    font-size: 2rem;
    color: antiquewhite;
}
.card p{
    font-size: 1.25rem;
    color: grey;
}




/* skill section */

#skill .container{
    height: 100vh;
}

.myskill h2{
    text-align: center;
    font-size: 3rem;
}
.skill_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 2rem;
    padding: 2rem;
}

.read_btn{
    border: 1px solid black;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 5px;
    margin-top: 0.5rem;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.read_btn:hover{
    background-color: black;
    color: crimson;
    box-shadow: 0 0 25px blue;
}




/* contact section */

#contact .container{
    height: 60vh;
}
.contact_container h2{
    font-size: 3rem;
    text-align: center;
    margin: 4rem;
}
.contact_way{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 5rem;
}
.contact_way a i{
    color: crimson;
    font-size: 3rem;
    transition: 0.3s ease-in-out;
}
.contact_way a i:hover{
    color: white;
    box-shadow: 0 0 25px crimson;
}



/* footer section */

footer .container{
    text-align: center;
}






/* media query */

@media screen and (max-width: 321px) {
    #hero .container{
        flex-direction: column;
        gap: 4rem;
    } 
     .hero_img{
        width: 30%;
    }
}